/* global */
:root {
    --main-color: #005c8c;
    --main-grey: #313131;
    --off-white: #aaaaaa;
}
html {
    height: 100%;
}
body {
    font-family: system-ui, sans-serif;
    font-display: swap;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
h1,
h2,
h3 {
    color: var(--main-color);
    margin: 0;
}
p {
    color: var(--main-grey);
    margin: 0;
}
a {
    text-decoration: none;
}
.main__content {
    padding: 2rem 1rem;
    flex-grow: 1;
    max-width: 52rem;
    margin: auto;
}

/* header */
header {
    z-index: 1;
    box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.1);
    padding: 2rem 1rem 2rem 2rem;
}
.header__content {
    max-width: 76rem;
    margin: auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__toggle-label {
    cursor: pointer;
    fill: var(--main-color);
    order: 5;
    display: none;
    padding: 1rem;
}
.nav__toggle-label:hover {
    fill: var(--main-grey);
}
.nav__menu {
    width: 2rem;
    height: 2rem;
}
.nav__close {
    display: none;
    width: 2rem;
    height: 2rem;
}
#nav__toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
}
/* #nav__toggle:focus + .nav__toggle-label {
    border: 2px solid black;
    border-radius: 3px;
} */
#nav__toggle:checked ~ .nav__toggle-label > .nav__menu {
    display: none;
}
#nav__toggle:checked ~ .nav__toggle-label > .nav__close {
    display: inline;
}
.nav > * {
    color: var(--main-color);
}
.nav__logo-container {
    display: flex;
    flex: 1;
}
.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color:var(--main-color);
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}
.nav__logo:hover {
    color: var(--main-grey);
}
.nav__logo-item {
    border-radius: 9999px;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}
.nav__item {
    padding: 1rem 1rem;
    font-size: large;
    color:var(--main-color);
    text-decoration: none;
    font-weight: bold;
    flex-grow: 0;
}
.nav__item:hover {
    color: var(--main-grey);
}


/* landing page */
.landing {
    flex-grow: 1;
    background-color: var(--main-color);
    padding: 4rem 1rem;
}
.landing__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 62rem;
    height: 100%;
}
.landing__content > * {
    margin: 2rem 4rem;
    color: white;
}
.landing__title {
    font-size: 3rem;
}
.landing__description {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.landing__link {
    background-color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 5rem;
    color: var(--main-color);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(0,0,0,0.4)
}
.landing__link:hover {
    background-color: #eee;
}

/* projects page */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    background-color: white;
    justify-content: center;
    flex-grow: 0;
    padding: 2rem 1rem;
    max-width: 88rem;
    margin: 0 auto auto auto;
}
.projects__heading {
    width: 100%;
    text-align: center;
}
.projects__item {
    text-align: center;
    display: flex;
    max-width: 24rem;
    flex-direction: column;
    box-shadow: 0 0.3rem 1rem 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    padding: 2rem;
}
.projects__title {
    font-size: 1.2rem
}
.projects__subtitle {
    font-style: italic;
    margin-bottom: 1rem;
}
.link-button {
    align-self: stretch;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 0.3rem;
    padding: 0.4rem 0.75rem;
    color: var(--main-color);
    cursor: pointer;
    margin: 1rem auto 0rem;
}

/* about page */
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: white;
    text-align: center;
}
.about__image {
    border-radius: 9999px;
    height: 12rem;
    width: 12rem;
}
.about > div > p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

/* contact page */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: white;
    text-align: center;
}
form {
    max-width: 32rem;
}
form label {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
form input,
form textarea {
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.75em 1rem;
}
form input:focus,
form textarea:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}
form [type="submit"] {
    width: auto;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.3rem;
    padding: 0.75rem 1rem;
    color: white;
    cursor: pointer;
    float: left;
}
form [type="submit"]:focus {
  outline: var(--main-grey) solid 0.2rem;
}
form [type="submit"]:hover {
  background-color: var(--main-grey);
}
.verification {
    display: none;
}



/* footer */
.footer {
    background-color: var(--main-grey);
    padding: 1rem 2rem;
}
.footer__content {
    margin: auto;
    color: var(--off-white);
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 76rem;
}
.copyright {
    color: var(--off-white)
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 1rem 2rem;
}
.links__item {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.links__item > a {
    color: white;
    display: flex;
    align-items: center;
}
.links__item > a:hover {
    color: #ddd;
}
.links__image {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
}
.links__image:hover {
    fill: #ddd;
}


@media (max-width: 55rem) {
    .landing__content > * {
        margin: 1rem 1rem;
    }
    .projects > * {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
@media (max-width: 48rem) {
    .footer__content {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .nav {
        flex-wrap: wrap;
        align-items: center;
    }
    .nav__item {
        width: 100%;
        text-align: center;
        order: 2;
        display: none;
    }
    .nav__toggle {
        order: 1;
        display: block
    }
    .nav__toggle-label {
        display: block;
    }
    #nav__toggle:checked ~ .nav__item {
        display: block;
    }
    #nav__toggle:checked ~ .nav__toggle-label {
        order: 1;
    }
}